/* styles.css */
.help-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.centered-text {
    text-align: center;
    font-size: 20px;
    color: #33a9b6;
}

.help-text {
    text-align: center;
    margin-bottom: 20px; /* Espaço entre o texto e o formulário */
}

.h1 {
    color: #33a9b6;
    margin-bottom: 20px; /* Espaço entre o título e o parágrafo */
    font-size: 50px;
}

.p {
    color: #555;
    margin-bottom: 20px;
    padding-top: 20px; /* Adiciona espaçamento acima do parágrafo */
}

#ajuda {
    color: #33a9b6;
    margin-bottom: 0px; /* Espaço entre o título e o parágrafo */
    font-size: 24px;
    font-weight: bold;
}

#escrever {
    color: #555;
    margin-bottom: 30px;
    padding-top: 20px; 
}

.form {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Garante que os campos e labels se estiquem */
    background-color: #fff;
    padding: 30px; /* Ajustado para um espaçamento mais leve */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.label {
    color: #33a9b6;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
}

input[type="text"],
input[type="email"],
.textarea {
    width: 100%; /* Ajustado para 100% do container do form */
    padding: 8px; /* Padding adicionado para conforto do usuário */
    margin-bottom: 20px; /* Espaço entre os campos e o botão */
    border: 1px solid #33a9b6;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Estilo para o botão "Enviar" no formulário */
.button {
    width: 100%;
    max-width: 500px;
    background-color: #015e68 !important; /* Cor de fundo fixa */
    color: #ffffff; /* Cor do texto em branco */
    border: 1px solid #015e68 !important; /* Borda com a mesma cor do fundo */
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 20px;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 20px;
    min-height: 40px; /* Altura mínima do botão */
}

/* Estilo para o popup */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffffff; /* Cor de fundo do popup branca */
    color: #000000; /* Cor do texto ajustada para garantir legibilidade */
    border: 2px solid #33a9b6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex; /* Utiliza Flexbox */
    flex-direction: column; /* Alinha os itens verticalmente */
    align-items: center; /* Alinha os itens horizontalmente ao centro */
    text-align: center; /* Centraliza o texto dentro do popup */
}

/* Estilo para o botão "Fechar" no popup */
.popup button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #015e68; /* Cor de fundo fixa para o botão de fechar */
    color: #ffffff; /* Cor do texto em branco */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Removendo o efeito de hover para manter a cor fixa */
.popup button:hover {
    background-color: #015e68; /* Mantém a cor de fundo fixa */
    color: #ffffff; /* Mantém a cor do texto fixa */
}
